@font-face {
  font-family: 'SeagramTFB';
  src: url('../assets/font/Seagram\ tfb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  overflow: hidden;
}

#page-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.page {
  display: flex;
  height: 100%;
  width: 100%;
}

.page.full .text-zone {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(0,0,0,0.6);
  padding: 1rem;
  border-radius: 8px;
}

.page.half {
  display: flex;
}

.page.full .illustration,
.page.half .illustration {
  flex: 1;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page.half .text-zone {
  flex: 1;
  padding: 2rem;
  background: rgba(0,0,0,0.7);
}

/* Navigation */
#nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 1rem;
}

#nav .nav-btn {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.2s;
}

#nav .nav-btn:hover {
  color: gold;
}

/* Spécial couverture */
.cover-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cover-title h1 {
  font-family: 'SeagramTFB', serif;
  font-size: 4rem;
  background: linear-gradient(
    -45deg,
    #D9D66A,
    #D9C86A,
    #DBBF1E,
    #D9D66A
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: goldenShine 5s infinite alternate;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

@keyframes goldenShine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
